
<div class="container" *ngIf="products != undefined else noUserTemplate">
    <div class="row justify-content-center">
        <div *ngFor="let product of products;" >
            <app-product [product]="product"></app-product>
        </div>
    </div>
</div>

<ng-template class="container" #noUserTemplate>
    <div class="row justify-content-center">
        <div class="card border-danger">
			<div class="card-body text-danger text-center">
				No user with ID: {{userIdView}}
			</div>
        </div>
    </div>
</ng-template>


<div class="container mt-4">
  <div class="row mx-auto" style="width: 140px !important">
    <button 
        class="mt-2 btn btn-success w-100"
        (click)="onClear()">
        Send
    </button>
    <button 
        class="mt-2 btn btn-secondary w-100"
        style="
            background-color: darkgray;
            border-color: darkgray;
        "
        (click)="onClear()">
        Clear
    </button>
  </div>
</div>

