
<div class="card border-success box">
    <img src="{{product.image_link}}" class="image-fit box-content">
    <div class="card-body text-success text-center box-content">
        Product {{ product.id }}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="checkboxWrapper mx-auto my-2">
            <input type="checkbox" id="checkbox" [checked]="product.status" (change)="changed($event)"/>
    
            <div>
                <svg class="cross" width="18" height="18">
                    <path d="M 8 8 l -4 -4" stroke-width="2" />
                    <path d="M 8 8 l 4 4" stroke-width="2" />
                    <path d="M 8 8 l -4 4" stroke-width="2" />
                    <path d="M 8 8 l 4 -4" stroke-width="2" />
                </svg>
    
                <svg class="checkmark" width="18" height="18">
                    <path d="M 8 11 l -2 -2" stroke-width="2" />
                    <path d="M 8 11 l 5 -6" stroke-width="2" />
                </svg>
            </div>
        </div>
    </div>
</div>    
