.box{
    position: relative;
    overflow: hidden;
}

.box:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.box-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 300px) {
    .text-center.box-content {
        display: none;
    }

  }