.product-item{
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  border: 1.5px solid #00B74A;
  border-radius: 6px;
}

/* text */
.product-item{
  text-align: center;
  vertical-align: middle;
  line-height: 140px;
  color: #00B74A; 
}

input[type="checkbox"]{
  position: relative;
  display: block;
  margin : 5px auto;
}

